.top{
  margin-top: 19vh;
  margin-bottom: 21vh;
  font-size: 35px;
  &_txt{
    margin-top: 67px;
    margin-bottom: 61px;

    font-size: .8em;
    line-height: 1.2;
  }
  .links-block{
    border: 2px solid #25CD86;
    border-radius: 8px;
  }
}
@media screen and (min-width: 768px){
  .top{
    font-size: 60px;
    &_txt{
      width: 60%;
    }
  }
}
@media screen and (min-width: 1024px){
  .top{
    &_txt{
      width: 50%;
    }
  }
}
